extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/account.css')

block nav
	a(href='/') Home
	a.active(href='/account') Account
	a(href='/logout') Logout

block body
	h1 #{username}

	a(href='/upload') Upload New Tab

	br

	ul
		if !tabs || tabs.length === 0
			li No Tabs
		else
			each tab in tabs
				li
					a.pretty(href='#{tab.url}')
						span.name #{tab.name}
						span.artist #{tab.artist}
