extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/delete.css')

block nav
	a(href='/') Home
	a(href='/account') Account
	a(href='/upload') Upload
	a(href='/import') Import
	a(href='/logout') Logout

block body
	#delete.shadow
		h4 Delete "#{tab.name}" by "#{tab.artist}"?
		form(action="/delete", method="POST")
			input(type='hidden' name='tabid' value='#{tab.id}')
			button(tabindex='2') Yes
		form(action="/account")
			button(tabindex='1' autofocus) No
