extends ./base.jade

block append head
	script(type='text/javascript', src='/static/js/home.js')
	link(rel='stylesheet', type='text/css', href='/static/css/home.css')

block nav
	a.active(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body
	section
		pre.
			e ┌┬─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┬─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┬┐
			B ├┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼┤
			G ├┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼┤
			D ├┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼┤
			A ├┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┼┤
			E └┴─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┴─<input>──<input>──<input>──<input>──<input>──<input>──<input>──<input>─┴┘
		//button Search
