extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block nav
	a.active(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/upload') Upload
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body
	form.shadow(action="/search", method="GET")
		#fields
			div.field
				h1 Name
				input(type="text", name="song",   placeholder="song")
				input(type="text", name="artist", placeholder="artist")
			div.field
				h1 Tuning
				select(name="tuning")
					option(value='') Any
					option(value='Standard') Standard
					option(value='Drop D') Drop D
					option(value='Double Drop D') Double Drop D
					option(value='D Modal Tuning') D Modal Tuning
					option(value='Dropped C') Dropped C
					option(value='Dropped B') Dropped B
					option(value='Dropped A') Dropped A
					option(value='A Tuning') A Tuning
					option(value='Eb Tuning') Eb Tuning
					option(value='D Tuning') D Tuning
					option(value='Db Tuning') Db Tuning
					option(value='C Tuning') C Tuning
					option(value='B Standard Tuning') B Standard Tuning
					option(value='Bb Tuning') Bb Tuning
					option(value='G Tuning') G Tuning
					option(value='Open A Tuning') Open A Tuning
					option(value='Open C Tuning') Open C Tuning
					option(value='Open D Tuning') Open D Tuning
					option(value='Open Db Tuning') Open Db Tuning
					option(value='Open E Tuning') Open E Tuning
					option(value='Open F Tuning') Open F Tuning
					option(value='Open G Tuning') Open G Tuning

			div.field
				h1 Key
				select(name="key")
					option(value='') Any
					option(value='C') C
					option(value='C#') C#/Db
					option(value='D') D
					option(value='D#') D#/Eb
					option(value='E') E
					option(value='F') F
					option(value='F#') F#/Gb
					option(value='G') G
					option(value='G#') G#/Ab
					option(value='A') A
					option(value='A#') A#/Bb
					option(value='B') B

			div.field
				h1 Scale
				select(name="scale")
					option(value='') Any
					option(value='Major') Major
					option(value='Harmonic Minor') Harmonic Minor
					option(value='Melodic Minor (Ascending)') Melodic Minor (Ascending)
					option(value='Melodic Minor (Descending)') Melodic Minor (Descending)
					option(value='Chromatic') Chromatic
					option(value='Whole Tone') Whole Tone
					option(disabled='') ───────────────────────
					option(value='Pentatonic Major') Pentatonic Major
					option(value='Pentatonic Minor') Pentatonic Minor
					option(value='Pentatonic Blues') Pentatonic Blues
					option(value='Pentatonic Neutral') Pentatonic Neutral
					option(disabled='') ───────────────────────
					option(value='Ionian') Ionian
					option(value='Dorian') Dorian
					option(value='Phrygian') Phrygian
					option(value='Lydian') Lydian
					option(value='Lydian Augmented') Lydian Augmented
					option(value='Lydian Minor') Lydian Minor
					option(value='Lydian Diminished') Lydian Diminished
					option(value='Mixolydian') Mixolydian
					option(value='Aeolian') Aeolian
					option(value='Locrian') Locrian

		button Search
