extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block nav
	a.active(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/upload') Upload
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body
	form.shadow
		#fields
			div.field
				h1 Name
				input(type="text", name="song",   placeholder="song")
				input(type="text", name="artist", placeholder="artist")
			div.field
				h1 Tuning
				select
					option(value='') Any
					option(value='standard') Standard
					option(value='half-step down') Half-Step Down
					option(value='b tuning') B tuning
					option(value='c tuning') C tuning
					option(value='d tuning') D tuning
					option(value='drop a') Drop A
					option(value='drop a#') Drop A#
					option(value='drop b') Drop B
					option(value='drop c') Drop C
					option(value='drop c#') Drop C#
					option(value='drop d') Drop D
					option(value='open c') Open C
					option(value='open d') Open D
					option(value='open e') Open E
					option(value='open g') Open G

			div.field
				h1 Key
				select
					option(value='') Any
					option(value='C') C
					option(value='C#/Db') C#/Db
					option(value='D') D
					option(value='D#/Eb') D#/Eb
					option(value='E') E
					option(value='F') F
					option(value='F#/Gb') F#/Gb
					option(value='G') G
					option(value='G#/Ab') G#/Ab
					option(value='A') A
					option(value='A#/Bb') A#/Bb
					option(value='B') B

			div.field
				h1 Scale
				select
					option(value='') Any
					option(value='Major') Major
					option(value='Harmonic Minor') Harmonic Minor
					option(value='Melodic Minor (Ascending)') Melodic Minor (Ascending)
					option(value='Melodic Minor (Descending)') Melodic Minor (Descending)
					option(value='Chromatic') Chromatic
					option(value='Whole Tone') Whole Tone
					option(disabled='') ───────────────────────
					option(value='Pentatonic Major') Pentatonic Major
					option(value='Pentatonic Minor') Pentatonic Minor
					option(value='Pentatonic Blues') Pentatonic Blues
					option(value='Pentatonic Neutral') Pentatonic Neutral
					option(value='Octatonic (H-W)') Octatonic (H-W)
					option(value='Octatonic (W-H)') Octatonic (W-H)
					option(disabled='') ───────────────────────
					option(value='Ionian') Ionian
					option(value='Dorian') Dorian
					option(value='Phrygian') Phrygian
					option(value='Lydian') Lydian
					option(value='Lydian Augmented') Lydian Augmented
					option(value='Lydian Minor') Lydian Minor
					option(value='Lydian Diminished') Lydian Diminished
					option(value='Mixolydian') Mixolydian
					option(value='Aeolian') Aeolian
					option(value='Locrian') Locrian
					option(disabled='') ───────────────────────
					option(value='Bebop Major') Bebop Major
					option(value='Bebop Minor') Bebop Minor
					option(value='Bebop Dominant') Bebop Dominant
					option(value='Bebop Half Diminished') Bebop Half Diminished
					option(value='Blues Variation 1') Blues Variation 1
					option(value='Blues Variation 2') Blues Variation 2
					option(value='Blues Variation 3') Blues Variation 3
					option(value='Mixo-Blues') Mixo-Blues
					option(value='Major Blues Scale') Major Blues Scale
					option(value='Dominant Pentatonic') Dominant Pentatonic
					option(disabled='') ───────────────────────
					option(value='Chinese 2') Chinese 2
					option(value='Hirajoshi 2') Hirajoshi 2
					option(value='Iwato') Iwato
					option(value='Japanese (in sen)') Japanese (in sen)
					option(value='Kumoi 2') Kumoi 2
					option(value='Pelog 2') Pelog 2
					option(value='Locrian 6') Locrian 6
					option(value='Ionian #5') Ionian #5
					option(value='Dorian #4') Dorian #4
					option(value='Phrygian Major') Phrygian Major
					option(value='Lydian #2') Lydian #2
					option(value='Ultralocrian') Ultralocrian
					option(value='Moorish Phrygian') Moorish Phrygian
					option(value='Algerian') Algerian
					option(value='Altered') Altered
					option(value='Arabian (a)') Arabian (a)
					option(value='Arabian (b)') Arabian (b)
					option(value='Augmented') Augmented
					option(value='Auxiliary Diminished') Auxiliary Diminished
					option(value='Auxiliary Augmented') Auxiliary Augmented
					option(value='Auxiliary Diminished Blues') Auxiliary Diminished Blues
					option(value='Balinese') Balinese
					option(value='Blues') Blues
					option(value='Byzantine') Byzantine
					option(value='Chinese') Chinese
					option(value='Chinese Mongolian') Chinese Mongolian
					option(value='Diatonic') Diatonic
					option(value='Diminished') Diminished
					option(value='Diminished, Half') Diminished, Half
					option(value='Diminished, Whole') Diminished, Whole
					option(value='Diminished Whole Tone') Diminished Whole Tone
					option(value='Dominant 7th') Dominant 7th
					option(value='Double Harmonic') Double Harmonic
					option(value='Egyptian') Egyptian
					option(value='Eight Tone Spanish') Eight Tone Spanish
					option(value='Enigmatic') Enigmatic
					option(value='Ethiopian (A raray)') Ethiopian (A raray)
					option(value='Ethiopian (Geez & Ezel)') Ethiopian (Geez & Ezel)
					option(value='Half Diminished (Locrian)') Half Diminished (Locrian)
					option(value='Half Diminished #2 (Locrian #2)') Half Diminished #2 (Locrian #2)
					option(value='Hawaiian') Hawaiian
					option(value='Hindu') Hindu
					option(value='Hindustan') Hindustan
					option(value='Hirajoshi') Hirajoshi
					option(value='Hungarian Major') Hungarian Major
					option(value='Hungarian Gypsy') Hungarian Gypsy
					option(value='Hungarian Gypsy Persian') Hungarian Gypsy Persian
					option(value='Hungarian Minor') Hungarian Minor
					option(value='Japanese (A)') Japanese (A)
					option(value='Japanese (B)') Japanese (B)
					option(value='Japanese (Ichikosucho)') Japanese (Ichikosucho)
					option(value='Japanese (Taishikicho)') Japanese (Taishikicho)
					option(value='Javaneese') Javaneese
					option(value='Jewish (Adonai Malakh)') Jewish (Adonai Malakh)
					option(value='Jewish (Ahaba Rabba)') Jewish (Ahaba Rabba)
					option(value='Jewish (Magen Abot)') Jewish (Magen Abot)
					option(value='Kumoi') Kumoi
					option(value='Leading Whole Tone') Leading Whole Tone
					option(value='Major Locrian') Major Locrian
					option(value='Mohammedan') Mohammedan
					option(value='Natural (Pure) Minor') Natural (Pure) Minor
					option(value='Neopolitan') Neopolitan
					option(value='Neoploitan Major') Neoploitan Major
					option(value='Neopolitan Minor') Neopolitan Minor
					option(value='Nine Tone Scale') Nine Tone Scale
					option(value='Oriental (a)') Oriental (a)
					option(value='Oriental (b)') Oriental (b)
					option(value='Overtone') Overtone
					option(value='Overtone Dominant') Overtone Dominant
					option(value='Pelog') Pelog
					option(value='Persian') Persian
					option(value='Prometheus') Prometheus
					option(value='Prometheus Neopolitan') Prometheus Neopolitan
					option(value='Roumanian Minor') Roumanian Minor
					option(value='Six Tone Symmetrical') Six Tone Symmetrical
					option(value='Spanish Gypsy') Spanish Gypsy
					option(value='Super Locrian') Super Locrian
					option(value='Moorish Phrygian') Moorish Phrygian

		button Search
