extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/index.css')

block nav
	a.active(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/upload') Upload
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body
	form.shadow(action="/search", method="GET")
		#fields
			div.field
				h1 Name
				input(type="text", name="song",   placeholder="song")
				input(type="text", name="artist", placeholder="artist")
			div.field
				h1 Tuning
				select(name="tuning")
					option(value='') Any
					option(value='standard') Standard
					option(value='half-step down') Half-Step Down
					option(value='b tuning') B tuning
					option(value='c tuning') C tuning
					option(value='d tuning') D tuning
					option(value='drop a') Drop A
					option(value='drop a#') Drop A#
					option(value='drop b') Drop B
					option(value='drop c') Drop C
					option(value='drop c#') Drop C#
					option(value='drop d') Drop D
					option(value='open c') Open C
					option(value='open d') Open D
					option(value='open e') Open E
					option(value='open g') Open G

			div.field
				h1 Key
				select(name="key")
					option(value='') Any
					option(value='C') C
					option(value='C#/Db') C#/Db
					option(value='D') D
					option(value='D#/Eb') D#/Eb
					option(value='E') E
					option(value='F') F
					option(value='F#/Gb') F#/Gb
					option(value='G') G
					option(value='G#/Ab') G#/Ab
					option(value='A') A
					option(value='A#/Bb') A#/Bb
					option(value='B') B

			div.field
				h1 Scale
				select(name="scale")
					option(value='') Any
					option(value='Major') Major
					option(value='Harmonic Minor') Harmonic Minor
					option(value='Melodic Minor (Ascending)') Melodic Minor (Ascending)
					option(value='Melodic Minor (Descending)') Melodic Minor (Descending)
					option(value='Chromatic') Chromatic
					option(value='Whole Tone') Whole Tone
					option(disabled='') ───────────────────────
					option(value='Pentatonic Major') Pentatonic Major
					option(value='Pentatonic Minor') Pentatonic Minor
					option(value='Pentatonic Blues') Pentatonic Blues
					option(value='Pentatonic Neutral') Pentatonic Neutral
					option(value='Octatonic (H-W)') Octatonic (H-W)
					option(value='Octatonic (W-H)') Octatonic (W-H)
					option(disabled='') ───────────────────────
					option(value='Ionian') Ionian
					option(value='Dorian') Dorian
					option(value='Phrygian') Phrygian
					option(value='Lydian') Lydian
					option(value='Lydian Augmented') Lydian Augmented
					option(value='Lydian Minor') Lydian Minor
					option(value='Lydian Diminished') Lydian Diminished
					option(value='Mixolydian') Mixolydian
					option(value='Aeolian') Aeolian
					option(value='Locrian') Locrian

		button Search
