extends ./base.jade

block nav
	a(href='/') Home
	a.active(href='/login') Login
	a(href='/signup') Signup

block body
	form#login
		h2 Login
		.problem
		input(type='text', placeholder='Username')
		input(type='password', placeholder='Password')
		input(type='submit', value='Login')
		div
			| Don't have an account? 
			a(href='/signup') Sign up!
