extends ./base.jade

block nav
	a(href='/') Home
	a(href='/login') Login
	a(href='/signup') Signup

block body
	form#login
		h2 Signup
		.problem
		input(type='text', placeholder='Username')
		input(type='password', placeholder='Password')
		input(type='submit', value='Login')
		div
			| Arleady have an account? 
			a(href='/signup') Log in!
