extends ./base.jade

block append head
	script(type='text/javascript', src='/static/js/login_signup.js')
	link(rel='stylesheet', type='text/css', href='/static/css/login_signup.css')

block nav
	a(href='/') Home
	a(href='/login') Login
	a.active(href='/signup') Signup

block body
	form#signup.shadow(action="/signup", method="POST")
		h2 Signup
		.problem
		input(type='text', name='username', placeholder='Username' tabindex='1' autofocus)
		input(type='password', name='password1', placeholder='Password' tabindex='2')
		input(type='password', name='password2', placeholder='Retype Password' tabindex='3')
		button Signup
		div
			| Arleady have an account? 
			a(href='/signup') Log in!
