extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/tab.css')

block nav
	a(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/upload') Upload
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body
	#tab.shadow
		#head
			h1 #{tab.name}
			h6 #{tab.artist}
		pre.
			#{tab.tab}
