
#main h1
{
	margin-bottom: 20px;
}


#main ul
{
	display: inline-block;
	width:700px;
	text-align: left;
}


#main li
{
	font-size: 0px;
	display:block;
	border-bottom:1px solid rgba(0,0,0,0.15);
}

#labels
{
	border-bottom: 1px solid black !important;
}

#main li > *
{
	padding:10px;
	font-size: 12pt;
	display: inline-block;
}

#main li a.tab
{
	display:block;
}

#main li:last-child
{
	border-bottom: none;
}

#main li:not(#labels):hover
{
	cursor: pointer;
	background-color: rgba(0,0,0,0.05);
}


#main li a.tab > *
{
	margin-right:20px;
}

.name,
.artist,
.tuning,
.key,
.scale
{
	display: inline-block;
}

span.name   { width:9em; }
span.artist { width:9em; }
span.tuning { width:6em; }
span.key    { width:2em; }
span.scale  { width:8em; }

.artist,
.tuning,
.key,
.scale
{
	color:rgba(0,0,0,0.5);
}

#main span.notabs
{

}


#search
{
	margin-bottom: 30px;
}

span.search
{
	margin:10px;
	
}

span.box
{
	margin:5px;
	padding: 4px;
	border-radius: 3px;
	color:white;
	background-color: black;
}
