body
{
	color:black;
	font-size: 12pt;
	font-family: Arial, sans-serif;
}

h1 { font-size: 30pt; }
h2 { font-size: 20pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }
h5 { font-size: 15pt; }
h6 { font-size: 14pt; }

a.pretty
{
	color:black;
	text-decoration: none;
}

a.active
{
	text-decoration: underline;
}

.problem
{
	display:none;
	color:red;
}

.shadow
{
	box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
}

.mono, pre
{
	font-family: "Courier New", monospace;
}




header
{
	padding: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
	border-bottom:8px solid black;
	overflow: hidden;
}

header h1
{
	float:left;
	font-weight:bold;
}

header h1 *
{
	float:left;
}

header pre
{
	color:rgba(0,0,0,0.5);
	font-weight: normal;
	font-size: 13px;
	line-height: 13px;
}

nav
{
	float:right;
	font-size: 12pt;
}

nav a
{
	color:black;
	text-decoration: none;
	cursor: pointer;
	margin-left:15px;
}

nav a:hover
{
	color:blue;
	cursor: pointer;
}





#main
{
	text-align: center;
}
